body {
	background-color: #000000;
	font-family: 'Rock Salt', cursive;
}

.wrapper {	
	background: white;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 100px;
	min-height: 500px;
	position: relative;
}

.ryu {
	float: left;
}

.ready, .still, .throwing, .cool {
  width: 659px;
  height: 494px;
}

.ready, .throwing, .cool {
  display: none;
} 

.still {
	background: url("../images/ryu-standing-still.png");
	display: block;
}

.ready {
	background: url("../images/ryu-ready-position.gif");
}

.hadouken {
	background: url("../images/hadouken.gif");
	width: 156px; 
	height: 90px;
	display: none;
	float: left;
	position: relative;
	top: 170px;
	left: -200px;
}

.cool {
	background: url("../images/ryu-cool.gif");
}

.throwing {
	background: url("../images/ryu-throwing-hadouken.png");
}

.hadouken, .ready, .still, .throwing {
  background-repeat: no-repeat;
}

.text {
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}

.logo {
	background: url("../images/Logo.jpg") no-repeat;
	background-size: 100%;
	position: relative;
	vertical-align: middle;
	height: inherit;
	display: none;
}

.how-to {
	display: none;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 2em;
	letter-spacing: 0.25em;
	padding-bottom: 100px;
}
